#!/bin/bash

#########################
# Version Configuration #
#########################

mc_version='1.12.2'
#sponge_type=bleeding
sponge_type=stable
sponge_api_version='7.1.0'
################
# Sponge-Forge #
################
run_forge=true
spongeforge_dl_api_url="https://dl-api.spongepowered.org/v1/org.spongepowered/spongeforge/downloads?type=${sponge_type}&minecraft=${mc_version}"
forge_build='2768'
forge_version_base='14.23.5'
sp_forge_build='RC3516'
##################
# Sponge-Vanilla #
##################
run_vanilla=false
spongevanilla_dl_api_url="https://dl-api.spongepowered.org/v1/org.spongepowered/spongevanilla/downloads?type=${sponge_type}&minecraft=${mc_version}"
sp_vanilla_build='290'
###################################

###################################
# CubeEngine Update Configuration #
###################################

# multiverse
modules=(libcube conomy kickban teleport worlds travel locker portals vanillaplus roles chat powertools vigil controlc kits selector worldcontrol signmarket bigdata vote protector elevator namehistory writer chopchop itemrepair shout hide fun backpack tablist itemduct sql spawner zoned)

# Java Args for Server Start
java_args=(-Xmx4G -Xms3G)
